/* ===== General Styling ===== */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #17181a;
	position: relative;
	overflow-x: hidden;
	color: #fff;
}

body.hide {
	overflow: hidden;
}

body::-webkit-scrollbar {
	width: 0.25rem;
}

body::-webkit-scrollbar-track {
	background-color: #1e1e24;
}

body::-webkit-scrollbar-thumb {
	background-color: rgba(256, 256, 256, 0.2);
}

/* ===== Header & Nav ====== */

.nav-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #fff;
	font-size: 1rem;
	min-height: 10vh;
	width: 80%;
	margin: auto;
	padding: 2rem 0;
	z-index: 2;
	position: relative;
}

#logo {
	font-family: 'Abril Fatface', sans-serif;
	color: #fff;
}

.burger {
	cursor: pointer;
}

.line1,
.line2 {
	width: 3rem;
	height: 0.2rem;
	margin: 0.5rem;
	background: #fff;
	pointer-events: none;
}

.nav-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	color: #000;
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	opacity: 1;
	clip-path: circle(50px at 100% -10%);
	-webkit-clip-path: circle(50px at 100% -10%);
	transition: background 0.5s ease-in-out;
}

.nav-links {
	flex-basis: 35rem;
	margin: 0 1rem 0 3rem;
}

.nav-links li {
	list-style: none;
	padding: 2rem;
}

.nav-links a,
.contact a {
	color: #000;
	text-decoration: none;
	font-size: 4rem;
	font-weight: 600;
	transition: background 0.5s ease-in-out;
}

.contact {
	flex-basis: 50rem;
	margin-right: 4rem;
}

.contact a {
	display: inline-block;
	margin-bottom: 3rem;
}

.contact p {
	font-size: 1.5rem;
	line-height: 1;
}

/* ===== Main Content ===== */

.slide {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80%;
	height: 100vh;
	margin: auto;
}

.hero-img,
.hero-desc {
	position: relative;
	flex: 1;
	flex-basis: 25rem;
	overflow: hidden;
}

.hero-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.hero-desc {
	background-color: #17181a;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	margin-left: 3rem;
	flex: 1;
	flex-basis: 25rem;
	position: relative;
}

.title {
	position: relative;
	overflow: hidden;
}
.hero-desc h2 {
	font-family: 'Abril Fatface';
	font-size: 4rem;
	margin-bottom: 1.5rem;
}

.hero-desc p {
	font-size: 1.2rem;
	line-height: 1.5;
	margin-bottom: 1rem;
}

.explore {
	text-decoration: none;
	font-family: inherit;
	font-size: 1.2rem;
	cursor: pointer;
	border: 1px solid #fff;
	color: #fff;
	padding: 1rem 2rem;
	background: none;
}

.mountain-span {
	color: rgb(86, 124, 228);
}

.hike-span {
	color: rgb(167, 110, 231);
}

.fashion-span {
	color: rgb(225, 139, 93);
}

.reveal-text,
.reveal-img {
	width: 100%;
	height: 150%;
	position: absolute;
	top: -15%;
	left: 0;
	background: #17181a;
}

.scrollmagic-pin-spacer {
	position: static !important;
}

.title-swipe {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	mix-blend-mode: darken;
	transform: translateY(100%);
}

.t-swipe1 {
	background: rgb(86, 124, 228);
}

.t-swipe2 {
	background: rgb(167, 110, 231);
}

.t-swipe3 {
	background: rgb(225, 139, 93);
}

/* ===== Cursor ===== */
.cursor {
	width: 3rem;
	height: 3rem;
	position: absolute;
	border: 2px solid #fff;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;
	transition: all 0.5s ease-in-out;
	transition-property: background, transform;
	transform-origin: 75% 75%;
}

.cursor.nav-active {
	background: rgb(86, 124, 228);
	transform: scale(2.5);
	z-index: -1;
}

.cursor.explore-active {
	background: #fff;
	transform: scale(2.5);
}

.cursor p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 0.6rem;
	color: #000;
}

/* ===== Fashion Page =====  */

.detail-slide {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 80%;
	min-height: 90vh;
	margin: 5rem auto 0;
	padding: 2rem 0;
	flex-wrap: wrap;
}

.fashion-text {
	flex: 1;
	flex-basis: 25rem;
	overflow: hidden;
	margin-top: 5rem;
}

.fashion-text h1 {
	font-size: 6rem;
	padding: 2rem 0;
}

.fashion1 h1 {
	color: rgb(225, 139, 93);
}

.fashion2 h1 {
	color: rgb(86, 124, 228);
}

.fashion3 h1 {
	color: #424b5e;
}

.fashion-text p {
	font-size: 1.6rem;
	line-height: 1.5;
	padding: 2rem 2rem 0 0;
	margin-bottom: 10rem;
}

.fashion-img {
	flex-basis: 30rem;
	height: 90vh;
}

.fashion-img img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.fashion-nr {
	position: absolute;
	left: 0%;
	bottom: 15%;
	font-size: 15rem;
	opacity: 0.1;
}

/* ===== Mountain Page ===== */

.mountain1,
.mountain2 {
	width: 75%;
	height: 90vh;
	margin: 1rem auto 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.mountain-text {
	flex: 1;
	flex-basis: 35rem;
	position: relative;
}

.mountain-text h1,
.mountain2-text h1 {
	font-size: 5.5rem;
	padding: 2rem 0;
	color: rgb(55, 109, 71);
}

.mountain-text p {
	font-size: 1.4rem;
	line-height: 1.5;
	padding: 1rem 1rem 0 0;
	margin-bottom: 5rem;
}

.mountain-img {
	flex: 1;
	flex-basis: 30rem;
	position: relative;
	overflow: hidden;
}

.mountain-img img,
.mountain-grid-img img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	transition: all 1.5s ease-in-out;
}

.mountain-grid-img img {
	object-fit: cover;
}

.mountain-img img:hover,
.mountain-grid-img img:hover {
	transform: scale(1.2);
}

.mountain2 {
	flex-direction: column;
	height: 100%;
	margin-top: 0;
}

.mountain-grid-img {
	display: grid;
	grid-template-columns: repeat(5, minmax(4rem, 1fr));
	grid-auto-rows: 25rem;
	grid-auto-flow: dense;
	grid-gap: 10px;
	overflow: hidden;
	position: relative;
}

.vertical {
	grid-column: 1 / -1;
	grid-row: 1 / span 1;
}

.horizontal {
	grid-column: 1 / 3;
	grid-row: 2 / 3;
}

.square {
	grid-column: 3 / -1;
	grid-row: 2 / 3;
}

.vertical,
.horizontal.square {
	position: relative;
	overflow: hidden;
}

.reveal-mountain-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #17181a;
}

/* ===== Hiking Page ===== */

.hiking-text {
	flex-basis: 20rem;
	flex: 1;
	position: relative;
}

.hiking-text h1 {
	font-size: 5rem;
	font-weight: 900;
	padding: 1rem;
	text-shadow: 2px 2px #000;
}

.hiking1 h1 {
	color: rgb(225, 139, 93);
}

.hiking2 h1 {
	color: rgb(97, 160, 116);
}

.hiking3 h1 {
	color: rgb(89, 120, 204);
}

.hiking-img {
	flex-basis: 30rem;
	flex: 1;
	height: 90vh;
	position: relative;
}

.hiking-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
